body{
			font-style: italic;
			text-align: center;
			background-color: #1B2430;
			text-align: center;
		}
		header{
			border: 1px solid white;
			color: black;
			text-align: center;
			padding: 0px;
			width: 100%;
			background-color:#87556F;
			font-weight: bold;
			font-size: 25px;
			border-radius: 15px 50px;
			position: fixed;
		}
		article{
			float: right;
			text-align: center;
			font-size: 15px;
			width: 75%;
			background-color:#4B5D67;
			border-radius: 30px;
			margin: 130px 0px 15px 0px;
		}
		ul{
			list-style-type: none;
			margin: 0px;
			padding: 0px;
			overflow: hidden;
		}
		ul li{
			text-decoration: none;
			border: 1px solid #B4A5A5;
			padding: 5px;
			margin: 10px 20px 20px 50px;
			float: right;
			width: 25%;
			background-color: #B4A5A5;
			border-radius: 15px;
		}
		video{
			margin: 0px 200px 50px 200px;
			width: 500px;
			height: 300px;
			border: 5px dotted white;
			padding: 5px;
		}
		nav{
			background-color:#59405C;
			width: 25%;
			height: 500px;
			margin-top: 130px;
			font-size: 20px;
			position: fixed;
			border-radius: 15px 50px;
		}
		ol{
			list-style-type: none;
			margin: 20px;
			padding:20px;
			background-color:#B4A5A5;
			border-radius: 15px 50px;
		}
		ol li{
			color: white;
			padding: 10px;
			margin: 20px;
			text-decoration: none;
			border: 1px solid blue;
			border-radius: 15px 50px;
			font-weight: bold;
		}
		li a:link{
			color:black;
			text-decoration: none;
		}
		li a:hover{
			color: white;
			border:5px solid white;
			border-radius: 15px 30px;
			padding: 5px;
		}
		li a: visited{
			color: black;
			border: 5px solid #D9ACF5
		}
		li: active{
			border: 5px solid AF0171;
			color: white;
		}
		img{
			width:100px;
			height: 75px;
		}
