body{
	background: url("https://uploadstatic-sea.mihoyo.com/strategyweb/20210418/2021041818542993583.png") repeat;
	background-size: 100%;
	background-color: black;
	
	
}
.All{
	margin: 50px 25px 1px 25px;
	padding: 30px;
	background-color: rgba(16,18,61,0.950);
	text-align: center;
	font-style: italic;
}
.flex-container {
    display: flex;
    margin: 30px;
}

.flex-child {
    flex: 1;
    border: 4px solid #708090;
    background-color: #708090;
    color: #252525;
    font-size: 25px;

}  

.flex-child:first-child {
    margin-right: 50px;
} 
#HG{
	border: 3px solid #53D0D8;
	padding: 10px;
	margin:0px 200px;
	color: white;
	font-size: 50px;
}
#C{
	color: white;
	text-align: center;
}
#img{
	margin: 10px 250px;
	display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
	height: 200px;
}
.GenInfo{
	color: white;
	font-size: 25px;
	margin: 0px 30px;
}
p{
	margin: 50px;
}
#ce{
	width: 300px;
	height: 200px;
}
#pe{
	width: 300px;
	height: 200px;
}
h4{
	color: yellow;
	font-size: 25px;
}
.copyright{
	border: 1px solid black;
	background-color: black;
	width: 100%;
	height: 350px;
}
